<div class="container">
    <div class="row">
     <div class="col-lg-12">
        <h1 align="center" class="enunciado">Colaboradores</h1>
      </div>
    </div>
    <br>
   <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
         <thead>
            <tr>
              <th style="border-color: black; text-align: center; height: 15px"><p align="center">Usuário</p></th>
              <th style="border-color: black; text-align: center;"><p align="center">Tipo de Usuário</p></th>
              <th style="border-color: black; text-align: center;"><p align="center">E-Mail</p></th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr style="font-size: 15px">
                <td class="conteudotabela"><%= user.username %></td>
                <td class="conteudotabela"><%= user.role %></td>
                <td class="conteudotabela"><%= user.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
<center><%= paginate @users %></center>
<br>
</div>
