<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 align="center" class="enunciado">Contagem Colaboradores</h1>
        </div>
      </div>
    </div>
        
  <br>
  <br>
  <br>
  
    <% if !@data_inicio.blank? and !@data_final.blank? %>
      <% if @data_inicio > @data_final %>
        <center><div class="alert alert-danger" role="alert" style="width: 700px">
          <p class="alert-danger" style="font-size: 20px">A data de início não pode ser maior que a data final !</p>
        </div></center>
      <% end %>
    <% end %>
  

  <%= render 'formrelatorio' %>
  <br>
  <br>
<div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <thead>
          <tr>           
            <th>Colaborador</th>
            <th>Quantidade de Cadastros</th>
           <!-- <th>Colaborador ID</th>-->            
          </tr>
  </thead>

  <tbody>
    <% @colabs.each do |colab| %>
      <tr style="font-size: 15px">
        <td><%= colab.nomecompleto %></td>
        <td><%= colab.count %></td>
               
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>